<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="/asserts/css/me.css">
</head>
<body>
    <nav class="ui inverted attached segment">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <div class="menu">
                    Welcome <p2 class="ui teal header" text="jamesou" th:text="${session.loginuser.username}">jamesou</p2> <a href="/loginout" class="ui teal item">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="m-padded-tb-large m-container-small">
        <div class="ui container">
            <div class="ui stackable grid">
                <!--左-->
                <div class="five wide column">
                    <h2><a href="#" th:href="@{/success}" class="item m-mobile"><i class="home icon"></i>Personal Info</a></h2><br>
                    <h2><a href="#" th:href="@{/certification}" class="item m-mobile"><i class="home icon"></i>Certification</a></h2><br>
                    <h2><a href="#" th:href="@{/searchroom}" class="item m-mobile "><i class="home icon"></i>Rooms</a></h2><br>
                    <h2><a href="#" th:href="@{/searchcustomer}" class="item m-mobile "><i class="home icon"></i>Customers</a></h2><br>
                    <h2><a href="#" th:href="@{/searchinfo}" class="item m-mobile "><i class="home icon"></i>Orders</a></h2><br>
                    <h2><a href="#" th:href="@{/create}" class="item m-mobile "><i class="home icon"></i>Check In</a></h2><br>
                </div>
                <!--右-->

                <div class="eleven wide column">
                    <div class="ui teal segment">
                        <h2 ><i class="home icon"></i>Rooms</h2>
                        <form  name="search" action="#" th:action="@{/searchroom}" method="post">
                            <div class="ui icon  input m-mobile">
                                <input type="text" name="query" placeholder="请输入Room No....">
                                <i onclick="document.forms['search'].submit()"  class="search link icon"></i>
                            </div>
                            <a href="#"  th:href="@{/roomnew}" class="ui  right floated teal basic button">新增</a>
                        </form>
                        <div class="ui mini negative message" th:unless="${#strings.isEmpty(msg)}" th:text="${msg}"></div>
                        <div class="ui teal segment" th:each="room : ${rooms}">
                            <div class="ui stackable grid">
                                <h4>Room No.:</h4>
                                <p th:text="${room.rno}">1</p>
                            </div>
                            <div class="ui stackable grid">
                                <h4>Room Type:</h4>
                                <p th:text="${room.rname}">1</p>
                            </div>
                            <div class="ui stackable grid">
                                <h4>Room Price:</h4>
                                <p th:text="${room.rprice}">1</p>
                            </div>
                            <div class="ui stackable grid">
                                <h4>Room Status:</h4>
                                <p th:text="${room.rstatus}">1</p>
                            </div>
                        </div>
                        <div class="ui bottom attached segment">
                            <div class="ui middle aligned two column grid">
                                <div class="column">
                                    <a th:href="@{/searchroom(pagenum=${pagenum}-1)}" class="ui teal basic button">上一页</a>
                                </div>
                                <div class="right aligned column">
                                    <a href="#"  th:href="@{/searchroom(pagenum=${pagenum}+1)}" class="ui teal basic button">下一页</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</body>
</html>